openapi: 3.0.3
info:
  title: Sleeper Fantasy Sports API (Hasura-Optimized)
  description: |
    Explicitly named types for clean Hasura import.
    Each type uses x-graphql-type-name to control GraphQL type names.
  version: "1.0"
servers:
  - url: https://api.sleeper.app/v1
    description: Production API server

paths:
  /league/{leagueId}:
    get:
      operationId: getLeague
      summary: Get league details
      description: Retrieve detailed information about a specific league
      parameters:
        - name: leagueId
          in: path
          required: true
          description: League ID
          schema:
            type: string
      responses:
        '200':
          description: League details
          content:
            application/json:
              schema:
                type: object
                x-graphql-type-name: GetLeagueResponse
                properties:
                  league_id:
                    type: string
                  name:
                    type: string
                  avatar:
                    type: string
                    nullable: true
                  sport:
                    type: string
                  season:
                    type: string
                  status:
                    type: string
                    x-graphql-type-name: GetLeagueResponseStatus
                    enum: [pre_draft, drafting, in_season, complete]
                  season_type:
                    type: string
                  settings:
                    type: object
                    x-graphql-type-name: GetLeagueResponseSettings
                    properties:
                      max_keepers:
                        type: integer
                        nullable: true
                      draft_rounds:
                        type: integer
                        nullable: true
                      trade_deadline:
                        type: integer
                        nullable: true
                      league_average_match:
                        type: integer
                        nullable: true
                      waiver_type:
                        type: integer
                        nullable: true
                  scoring_settings:
                    type: object
                    x-graphql-type-name: GetLeagueResponseScoringSettings
                    properties:
                      pass_td:
                        type: number
                        nullable: true
                      pass_yd:
                        type: number
                        nullable: true
                      pass_int:
                        type: number
                        nullable: true
                      rush_td:
                        type: number
                        nullable: true
                      rush_yd:
                        type: number
                        nullable: true
                      rec_td:
                        type: number
                        nullable: true
                      rec_yd:
                        type: number
                        nullable: true
                  roster_positions:
                    type: array
                    items:
                      type: string
                  total_rosters:
                    type: integer
                  draft_id:
                    type: string
                    nullable: true
                  previous_league_id:
                    type: string
                    nullable: true
                  bracket_id:
                    type: string
                    nullable: true
                  loser_bracket_id:
                    type: string
                    nullable: true
                  metadata:
                    type: object
                    nullable: true
                    x-graphql-type-name: GetLeagueResponseMetadata
                    properties:
                      latest_league_winner:
                        type: string
                        nullable: true
                      keeper_deadline:
                        type: string
                        nullable: true
                      auto_continue:
                        type: string
                        nullable: true
                  shard:
                    type: integer
                  last_message_id:
                    type: string
                    nullable: true
                  last_transaction_id:
                    type: string
                    nullable: true

  /league/{leagueId}/rosters:
    get:
      operationId: getLeagueRosters
      summary: Get league rosters
      description: Retrieve all rosters in a league
      parameters:
        - name: leagueId
          in: path
          required: true
          description: League ID
          schema:
            type: string
      responses:
        '200':
          description: Array of rosters
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  x-graphql-type-name: LeagueRoster
                  properties:
                    roster_id:
                      type: integer
                    owner_id:
                      type: string
                      nullable: true
                    co_owners:
                      type: array
                      items:
                        type: string
                      nullable: true
                    league_id:
                      type: string
                    players:
                      type: array
                      items:
                        type: string
                      nullable: true
                    starters:
                      type: array
                      items:
                        type: string
                      nullable: true
                    reserve:
                      type: array
                      items:
                        type: string
                      nullable: true
                    taxi:
                      type: array
                      items:
                        type: string
                      nullable: true
                    keepers:
                      type: array
                      items:
                        type: string
                      nullable: true
                    metadata:
                      type: object
                      nullable: true
                      x-graphql-type-name: LeagueRosterMetadata
                      properties: {}
                    settings:
                      type: object
                      x-graphql-type-name: LeagueRosterSettings
                      properties:
                        wins:
                          type: integer
                        losses:
                          type: integer
                        ties:
                          type: integer
                        total_moves:
                          type: integer
                        waiver_position:
                          type: integer
                        waiver_budget_used:
                          type: integer
                        fpts:
                          type: number
                        fpts_against:
                          type: number
                          nullable: true

  /league/{leagueId}/users:
    get:
      operationId: getLeagueUsers
      summary: Get league users
      description: Retrieve all users in a league
      parameters:
        - name: leagueId
          in: path
          required: true
          description: League ID
          schema:
            type: string
      responses:
        '200':
          description: Array of users
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  x-graphql-type-name: LeagueUser
                  properties:
                    user_id:
                      type: string
                    username:
                      type: string
                      nullable: true
                    display_name:
                      type: string
                    avatar:
                      type: string
                      nullable: true
                    is_bot:
                      type: boolean
                    is_owner:
                      type: boolean
                    league_id:
                      type: string
                    metadata:
                      type: object
                      nullable: true
                      x-graphql-type-name: LeagueUserMetadata
                      properties:
                        team_name:
                          type: string

  /league/{leagueId}/matchups/{week}:
    get:
      operationId: getLeagueMatchups
      summary: Get league matchups
      description: Retrieve matchups for a specific week
      parameters:
        - name: leagueId
          in: path
          required: true
          description: League ID
          schema:
            type: string
        - name: week
          in: path
          required: true
          description: Week number (1-18)
          schema:
            type: integer
            minimum: 1
            maximum: 18
      responses:
        '200':
          description: Array of matchups
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  x-graphql-type-name: LeagueMatchup
                  properties:
                    roster_id:
                      type: integer
                    matchup_id:
                      type: integer
                    points:
                      type: number
                    custom_points:
                      type: number
                      nullable: true
                    players:
                      type: array
                      items:
                        type: string
                    starters:
                      type: array
                      items:
                        type: string
                    players_points:
                      type: object
                      x-graphql-type-name: LeagueMatchupPlayersPoints
                      additionalProperties:
                        type: number
                    starters_points:
                      type: array
                      items:
                        type: number

  /league/{leagueId}/transactions/{round}:
    get:
      operationId: getLeagueTransactions
      summary: Get league transactions
      description: Retrieve transactions for a specific round/week
      parameters:
        - name: leagueId
          in: path
          required: true
          description: League ID
          schema:
            type: string
        - name: round
          in: path
          required: true
          description: Round/week number
          schema:
            type: integer
      responses:
        '200':
          description: Array of transactions
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  x-graphql-type-name: LeagueTransaction
                  properties:
                    transaction_id:
                      type: string
                    type:
                      type: string
                      x-graphql-type-name: LeagueTransactionType
                      enum: [trade, waiver, free_agent, commissioner]
                    status:
                      type: string
                      x-graphql-type-name: LeagueTransactionStatus
                      enum: [complete, pending, failed]
                    roster_ids:
                      type: array
                      items:
                        type: integer
                    adds:
                      type: object
                      nullable: true
                      x-graphql-type-name: LeagueTransactionAdds
                      additionalProperties:
                        type: integer
                    drops:
                      type: object
                      nullable: true
                      x-graphql-type-name: LeagueTransactionDrops
                      additionalProperties:
                        type: integer
                    draft_picks:
                      type: array
                      items:
                        type: object
                        x-graphql-type-name: LeagueTransactionDraftPick
                        properties: {}
                      nullable: true
                    waiver_budget:
                      type: array
                      items:
                        type: object
                        x-graphql-type-name: LeagueTransactionWaiverBudget
                        properties: {}
                      nullable: true
                    creator:
                      type: string
                    created:
                      type: integer
                      format: int64
                    status_updated:
                      type: integer
                      format: int64
                    leg:
                      type: integer
                    metadata:
                      type: object
                      nullable: true
                      x-graphql-type-name: LeagueTransactionMetadata
                      properties: {}

  /user/{usernameOrUserId}:
    get:
      operationId: getUser
      summary: Get user information
      description: Retrieve a user object by username or user_id
      parameters:
        - name: usernameOrUserId
          in: path
          required: true
          description: Username or user_id of the user
          schema:
            type: string
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                type: object
                x-graphql-type-name: GetUserResponse
                properties:
                  user_id:
                    type: string
                  username:
                    type: string
                    nullable: true
                  display_name:
                    type: string
                  avatar:
                    type: string
                    nullable: true
                  is_bot:
                    type: boolean
                  metadata:
                    type: object
                    nullable: true
                    x-graphql-type-name: GetUserResponseMetadata
                    properties: {}
                  settings:
                    type: object
                    nullable: true
                    x-graphql-type-name: GetUserResponseSettings
                    properties: {}

  /user/{userId}/leagues/{sport}/{season}:
    get:
      operationId: getUserLeagues
      summary: Get user's leagues
      description: Get all leagues for a user in a specific sport and season
      parameters:
        - name: userId
          in: path
          required: true
          description: User ID
          schema:
            type: string
        - name: sport
          in: path
          required: true
          description: Sport type (nfl)
          schema:
            type: string
            enum: [nfl]
        - name: season
          in: path
          required: true
          description: Season year
          schema:
            type: string
      responses:
        '200':
          description: Array of leagues
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  x-graphql-type-name: UserLeague
                  properties:
                    league_id:
                      type: string
                    name:
                      type: string
                    avatar:
                      type: string
                      nullable: true
                    sport:
                      type: string
                    season:
                      type: string
                    status:
                      type: string
                      x-graphql-type-name: UserLeagueStatus
                      enum: [pre_draft, drafting, in_season, complete]
                    season_type:
                      type: string
                    settings:
                      type: object
                      x-graphql-type-name: UserLeagueSettings
                      properties: {}
                    scoring_settings:
                      type: object
                      x-graphql-type-name: UserLeagueScoringSettings
                      properties: {}
                    roster_positions:
                      type: array
                      items:
                        type: string
                    total_rosters:
                      type: integer
                    draft_id:
                      type: string
                      nullable: true
                    previous_league_id:
                      type: string
                      nullable: true
                    metadata:
                      type: object
                      nullable: true
                      x-graphql-type-name: UserLeagueMetadata
                      properties: {}

  /state/{sport}:
    get:
      operationId: getSportState
      summary: Get current sport state
      description: Retrieve the current state of the sport including week and season
      parameters:
        - name: sport
          in: path
          required: true
          description: Sport type
          schema:
            type: string
            enum: [nfl]
      responses:
        '200':
          description: Current sport state
          content:
            application/json:
              schema:
                type: object
                x-graphql-type-name: GetSportStateResponse
                properties:
                  week:
                    type: integer
                  season_type:
                    type: string
                  season:
                    type: string
                  display_week:
                    type: integer
                  leg:
                    type: integer
                  league_season:
                    type: string
                  league_create_season:
                    type: string
                  previous_season:
                    type: string
                  season_start_date:
                    type: string
                  season_has_scores:
                    type: boolean

  /players/{sport}:
    get:
      operationId: getPlayers
      summary: Get all players
      description: Retrieve all players for a sport (large response, should be cached)
      parameters:
        - name: sport
          in: path
          required: true
          description: Sport type
          schema:
            type: string
            enum: [nfl]
      responses:
        '200':
          description: Object containing all players keyed by player_id
          content:
            application/json:
              schema:
                type: object
                x-graphql-type-name: GetPlayersResponse
                additionalProperties:
                  type: object
                  x-graphql-type-name: GetPlayersResponsePlayer
                  properties:
                    player_id:
                      type: string
                    first_name:
                      type: string
                      nullable: true
                    last_name:
                      type: string
                      nullable: true
                    full_name:
                      type: string
                      nullable: true
                    position:
                      type: string
                      nullable: true
                    team:
                      type: string
                      nullable: true
                    status:
                      type: string
                      nullable: true
                    injury_status:
                      type: string
                      nullable: true
                    active:
                      type: boolean
                    years_exp:
                      type: integer
                      nullable: true
                    age:
                      type: integer
                      nullable: true
                    height:
                      type: string
                      nullable: true
                    weight:
                      type: string
                      nullable: true
                    college:
                      type: string
                      nullable: true
                    fantasy_positions:
                      type: array
                      items:
                        type: string
                      nullable: true
                    sport:
                      type: string

  /players/{sport}/trending/{type}:
    get:
      operationId: getTrendingPlayers
      summary: Get trending players
      description: Retrieve trending players based on adds/drops
      parameters:
        - name: sport
          in: path
          required: true
          description: Sport type
          schema:
            type: string
            enum: [nfl]
        - name: type
          in: path
          required: true
          description: Trending type
          schema:
            type: string
            enum: [add, drop]
      responses:
        '200':
          description: Array of trending players
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  x-graphql-type-name: TrendingPlayer
                  properties:
                    player_id:
                      type: string
                    count:
                      type: integer

  /draft/{draftId}:
    get:
      operationId: getDraft
      summary: Get draft details
      description: Retrieve detailed information about a specific draft
      parameters:
        - name: draftId
          in: path
          required: true
          description: Draft ID
          schema:
            type: string
      responses:
        '200':
          description: Draft details
          content:
            application/json:
              schema:
                type: object
                x-graphql-type-name: GetDraftResponse
                properties:
                  draft_id:
                    type: string
                  league_id:
                    type: string
                  type:
                    type: string
                    x-graphql-type-name: GetDraftResponseType
                    enum: [snake, linear, auction]
                  status:
                    type: string
                    x-graphql-type-name: GetDraftResponseStatus
                    enum: [pre_draft, drafting, paused, complete]
                  sport:
                    type: string
                  season:
                    type: string
                  season_type:
                    type: string
                  settings:
                    type: object
                    x-graphql-type-name: GetDraftResponseSettings
                    properties:
                      rounds:
                        type: integer
                      teams:
                        type: integer
                      slots_wr:
                        type: integer
                      slots_rb:
                        type: integer
                      slots_qb:
                        type: integer
                      slots_te:
                        type: integer
                      slots_flex:
                        type: integer
                      slots_super_flex:
                        type: integer
                      slots_bn:
                        type: integer
                      pick_timer:
                        type: integer
                  start_time:
                    type: integer
                    format: int64
                    nullable: true
                  slot_to_roster_id:
                    type: object
                    x-graphql-type-name: GetDraftResponseSlotToRosterId
                    additionalProperties:
                      type: integer
                  draft_order:
                    type: object
                    nullable: true
                    x-graphql-type-name: GetDraftResponseDraftOrder
                    additionalProperties:
                      type: integer
                  metadata:
                    type: object
                    nullable: true
                    x-graphql-type-name: GetDraftResponseMetadata
                    properties: {}
                  created:
                    type: integer
                    format: int64
                  last_picked:
                    type: integer
                    format: int64
                    nullable: true

  /draft/{draftId}/picks:
    get:
      operationId: getDraftPicks
      summary: Get draft picks
      description: Retrieve all picks from a draft
      parameters:
        - name: draftId
          in: path
          required: true
          description: Draft ID
          schema:
            type: string
      responses:
        '200':
          description: Array of draft picks
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  x-graphql-type-name: DraftPick
                  properties:
                    round:
                      type: integer
                    roster_id:
                      type: integer
                    player_id:
                      type: string
                    picked_by:
                      type: string
                    pick_no:
                      type: integer
                    draft_id:
                      type: string
                    draft_slot:
                      type: integer
                    is_keeper:
                      type: boolean
                      nullable: true
                    metadata:
                      type: object
                      x-graphql-type-name: DraftPickMetadata
                      properties:
                        amount:
                          type: string
                        first_name:
                          type: string
                        last_name:
                          type: string
                        position:
                          type: string
                        team:
                          type: string

  /user/{userId}/drafts/{sport}/{season}:
    get:
      operationId: getUserDrafts
      summary: Get user's drafts
      description: Retrieve all drafts for a user in a specific sport and season
      parameters:
        - name: userId
          in: path
          required: true
          description: User ID
          schema:
            type: string
        - name: sport
          in: path
          required: true
          description: Sport type
          schema:
            type: string
            enum: [nfl]
        - name: season
          in: path
          required: true
          description: Season year
          schema:
            type: string
      responses:
        '200':
          description: Array of drafts
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  x-graphql-type-name: UserDraft
                  properties:
                    draft_id:
                      type: string
                    league_id:
                      type: string
                    type:
                      type: string
                      x-graphql-type-name: UserDraftType
                      enum: [snake, linear, auction]
                    status:
                      type: string
                      x-graphql-type-name: UserDraftStatus
                      enum: [pre_draft, drafting, paused, complete]
                    sport:
                      type: string
                    season:
                      type: string
                    season_type:
                      type: string
                    settings:
                      type: object
                      x-graphql-type-name: UserDraftSettings
                      properties: {}
                    start_time:
                      type: integer
                      format: int64
                      nullable: true
                    metadata:
                      type: object
                      nullable: true
                      x-graphql-type-name: UserDraftMetadata
                      properties: {}

  /league/{leagueId}/winners_bracket:
    get:
      operationId: getLeagueWinnersBracket
      summary: Get playoff winners bracket
      description: Retrieve the winners bracket for playoffs
      parameters:
        - name: leagueId
          in: path
          required: true
          description: League ID
          schema:
            type: string
      responses:
        '200':
          description: Winners bracket information
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  x-graphql-type-name: WinnersBracketMatchup
                  properties:
                    r:
                      type: integer
                    m:
                      type: integer
                    t1:
                      type: integer
                      nullable: true
                    t2:
                      type: integer
                      nullable: true
                    w:
                      type: integer
                      nullable: true
                    l:
                      type: integer
                      nullable: true
                    t1_from:
                      type: object
                      nullable: true
                      x-graphql-type-name: WinnersBracketMatchupT1From
                      properties: {}
                    t2_from:
                      type: object
                      nullable: true
                      x-graphql-type-name: WinnersBracketMatchupT2From
                      properties: {}

  /league/{leagueId}/losers_bracket:
    get:
      operationId: getLeagueLosersBracket
      summary: Get playoff losers bracket
      description: Retrieve the losers bracket for playoffs
      parameters:
        - name: leagueId
          in: path
          required: true
          description: League ID
          schema:
            type: string
      responses:
        '200':
          description: Losers bracket information
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  x-graphql-type-name: LosersBracketMatchup
                  properties:
                    r:
                      type: integer
                    m:
                      type: integer
                    t1:
                      type: integer
                      nullable: true
                    t2:
                      type: integer
                      nullable: true
                    w:
                      type: integer
                      nullable: true
                    l:
                      type: integer
                      nullable: true
                    t1_from:
                      type: object
                      nullable: true
                      x-graphql-type-name: LosersBracketMatchupT1From
                      properties: {}
                    t2_from:
                      type: object
                      nullable: true
                      x-graphql-type-name: LosersBracketMatchupT2From
                      properties: {}

  /league/{leagueId}/traded_picks:
    get:
      operationId: getLeagueTradedPicks
      summary: Get traded draft picks
      description: Retrieve all traded draft picks in the league
      parameters:
        - name: leagueId
          in: path
          required: true
          description: League ID
          schema:
            type: string
      responses:
        '200':
          description: Array of traded picks
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  x-graphql-type-name: LeagueTradedPick
                  properties:
                    season:
                      type: string
                    round:
                      type: integer
                    owner_id:
                      type: integer
                    previous_owner_id:
                      type: integer
                    roster_id:
                      type: integer
                    draft_id:
                      type: integer
                      nullable: true

  /league/{leagueId}/drafts:
    get:
      operationId: getLeagueDrafts
      summary: Get league drafts
      description: Retrieve all drafts for a league
      parameters:
        - name: leagueId
          in: path
          required: true
          description: League ID
          schema:
            type: string
      responses:
        '200':
          description: Array of drafts
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  x-graphql-type-name: LeagueDraft
                  properties:
                    draft_id:
                      type: string
                    league_id:
                      type: string
                    type:
                      type: string
                      x-graphql-type-name: LeagueDraftType
                      enum: [snake, linear, auction]
                    status:
                      type: string
                      x-graphql-type-name: LeagueDraftStatus
                      enum: [pre_draft, drafting, paused, complete]
                    sport:
                      type: string
                    season:
                      type: string
                    season_type:
                      type: string
                    settings:
                      type: object
                      x-graphql-type-name: LeagueDraftSettings
                      properties: {}
                    start_time:
                      type: integer
                      format: int64
                      nullable: true
                    metadata:
                      type: object
                      nullable: true
                      x-graphql-type-name: LeagueDraftMetadata
                      properties: {}

  /draft/{draftId}/traded_picks:
    get:
      operationId: getDraftTradedPicks
      summary: Get traded draft picks
      description: Retrieve traded picks for a draft
      parameters:
        - name: draftId
          in: path
          required: true
          description: Draft ID
          schema:
            type: string
      responses:
        '200':
          description: Array of traded picks
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  x-graphql-type-name: DraftTradedPick
                  properties:
                    season:
                      type: string
                    round:
                      type: integer
                    owner_id:
                      type: integer
                    previous_owner_id:
                      type: integer
                    roster_id:
                      type: integer
                    draft_id:
                      type: integer
                      nullable: true